.box{
	background-color: rgba(240, 240, 240, 0.7);
	width: 25%;
	min-width:400px;
	margin: auto;
	margin-top: 9%;
	padding: 5px 20px 20px 20px;
	text-align:left;
}
.box input[type="text"]{
	text-align: left;
	width: 70%;
    padding: 10px;
    font-weight: bold;
}
.box input[type="submit"]{
	margin: 15px;
	text-align: center;
	width: 70%;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}
.box input[type="date"]{
	text-align: left;
	width: 70%;
    padding: 10px;
    font-weight: bold;
	margin-left: 5px;
}
.box select{
	text-align: left;
	width: 77%;
    padding: 10px;
}
.rediv{
	text-align:center;
}
@media (max-width: 800px) {
	.box{
		margin-top:75px !important;
	}
}