.image{
	margin: 10px;
	width:50%;
	display: inline-block;
}
.image img{
	width:100%;
	max-height: 350px;
}
.comments{
	text-align: left;
	display: inline-block;
	width: 45%;	
	height: 350px;
	vertical-align:top;
	padding-left: 15px;
	font-size:15px;
	overflow-y: scroll;
	margin-top: 10px;
	background-color: rgba(220, 220, 220, 0.7);
}
.coment{
	margin-top:15px !important;
}
.info{
	font-size:15px;
	text-align: left;
}
