.box{
	background-color: rgba(240, 240, 240, 0.7);
	width: 45%;
	margin: auto;
	margin-top: 5%;
	padding: 5px 20px 20px 20px;
}
.ref{
	background-color: rgba(240, 240, 240, 0.7);
	width: 45%;
	margin: auto;
	margin-top: 5%;
	padding: 8px;
	font-family:
}