.box{
	background-color: rgba(240, 240, 240, 0.7);
	width: 25%;
	margin: auto;
	margin-top: 5%;
	padding: 5px 20px 20px 20px;
	text-align:center;
}
.box input[type="text"]{
	text-align: left;
	width: 70%;
    padding: 10px;
    font-weight: bold;
}
.box input[type="submit"]{
	margin: 15px;
	text-align: center;
	width: 70%;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}
.box input[type="date"]{
	text-align: left;
	width: 70%;
    padding: 10px;
    font-weight: bold;
}
.box input[type="email"]{
	text-align: left;
	width: 70%;
    padding: 10px;
    font-weight: bold;
}
.box input[type="password"]{
	text-align: left;
	width: 70%;
    padding: 10px;
    font-weight: bold;
}
.box select{
	text-align: left;
	width: 77%;
    padding: 10px;
}