html, body{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: Arial, Helvetica;
}
a{
	text-decoration: none;
	color: black;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.box{
	width: 25%;
	margin: auto;
	margin-top: 15%;
	padding: 5px 20px 20px 20px;
}
.box h2{
	text-align: center;
}
.box input[type="text"], input[type="submit"], input[type="date"], input[type="email"],select{
	width: 93%;
	font-size: 16px;
	padding: 10px 5px;
}
select{
	width: 100%;
}
.box input[type="submit"]{
	width: 100%;
	padding: 15px;
	font-weight: bold;
}

.registro{
	margin-top: 5%;
}
nav {
	/*background-color: #E57373;*/
	position: fixed;
	top:0px;
	width: 100%;
	z-index: 10;
	height: 35px;
}
nav .left img {
	height: 35px;
	margin: 5px;
}
nav i.lefticon {
  margin-right: 5px;
	display: inline-block;
  vertical-align: middle !important;
  line-height: 1;
}
nav .btn{
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	padding: 5px;
	margin: 5px;
	background-color: #E57373;
	border-radius: 1px solid black;
}
nav input[type="text"] {
	display: none;
}
nav .search-icon {
	display: none;
}
section{
	margin-top: 40px;
}
footer {
	text-shadow: 1px 1px #ffffff;
	position: fixed;
	bottom: 0px;
	padding: 10px;
	width: 100%;
	background-color: rgba(200, 200, 200, 0.5);
}
.hide{
display:block;
	height: 0px;
}

label.hide{
	display: block;
	width: 0px;
	height: 0px;
	overflow: hidden;
}
