html, body{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: Arial, Helvetica;
	background-color: #272D4E;
}
a{
	text-decoration: none;
	color: black;
}
nav {
	/*border-bottom: 1px solid black;*/
	background-color: white;
	position: fixed;
	top:0px;
	width: 100%;
	height: 35px;
	z-index: 10;
}
nav a {
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 10px 10px 7px 10px;
	font-weight: bold;
}
nav .right a:hover {
	background-color: #EEEEEE;
}
.left {
	float: left;
}
.left a{
	margin: 0px;
	padding: 0px;
}
.left a img {
	height: 35px;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
nav input[type="text"] {
	border: 0px;
	border-bottom: 1px solid black;
	border-radius: 3px;
	padding: 3px;
}
nav .search-icon {
	position: relative; 
	left: -25px;
	top: 8px;
	cursor: pointer;
	padding: 0px;
	margin-right: -20px;
}
nav .search-icon:hover {
	background-color: transparent;
}
aside {
	position: fixed;
	width: 15vw;
	height: 100vh;
	border-right: 1px solid black;
	text-align: center;
	padding-top: 20px;
}
aside input[type="text"], aside input[type="password"] {
	margin: 5px;
	padding: 5px;
	border: 0px;
	border-bottom: 2px solid black;
	margin-top: 10px;
}
aside input[type="submit"] {
	margin: 10px;
	margin-top: 20px;
	padding: 10px 20px;
	border: 0px;
}
section {
	margin: auto;
	margin-top: 50px;
	width: 80%;
	background-color: rgba(200, 200, 200, 0.5);
	padding: 5px;
}
section h1{
	margin: 2px;
}
section.spaced {
	margin-left: 20%;
}
article {
	width: 90%;
	border: 1px solid #AAAAAA;
	margin: 10px auto;
	background-color: rgba(220, 220, 220, 0.7);
}
article .info {
	text-align: left;
	padding: 5px;
}
article .info p {
	margin: 0px;
}
article .info h3 {
	margin-top: 5px;
}
article .image img{
	width: 100%;
}
footer {
  position: relative;
  height: 35px;
  background-color: rgba(200, 200, 200, 0.5);
  margin-top: 10px;   
  bottom: 0px;
  border-top: 1px solid grey;
  padding: 10px 0px 0px 10px;
  width:99%
}

